
@page "/talks/listar"

<div class="container-fluid">

    <div class="form-group row mb-1">

        <div style="text-align:center" class="col-sm-6">
            <img src="/Images/logo.jpg" width="500" height="200">
        </div>

    </div>

    <br />

    <div class="form-group row mb-1">

        <div class="col col-md-6">

            <div class="card img-fluid" alt="Responsive image">

                <div class="card-header">
                    Date = 15-12-2021
                    Hour = 4:00 pm
                </div>

                <div class="card-body">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name = IoT applications</li>
                        <li class="list-group-item">Speaker =  Edinson David Pineda Cortes</li>
                        <li class="list-group-item">Place = UAM</li>
                    </ul>

                </div>

                <div class="card-footer text-muted">
                </div>
            </div>

        </div>

        <div class="col col-md-6">

            <div class="card img-fluid" alt="Responsive image">

                <div class="card-header">
                    Date = 24-02-2022
                    Hour = 10:00 am
                </div>

                <div class="card-body">

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name = Artificial Intelligence</li>
                        <li class="list-group-item">Speaker =  Jaime Andres Acuña</li>
                        <li class="list-group-item">Place = Virtual</li>
                        <a href="https://meet.google.com/vnp-fxih-euq"> https://meet.google.com/vnp-fxih-euq </a>
                    </ul>

                </div>

                <div class="card-footer text-muted">
                </div>
            </div>

        </div>

    </div>
</div>

@code {

}
