
@page "/participant/listar"

@using FrontendPaulo.Data
@using System.Net.Http
@using System.Net.Http.Json

@inject HttpClient Http

<div class="container-fluid">

    <h3 style="text-align:center">My Research</h3>

    <br />

    @if (oResponse != null && oResponse.Data != null)
    {
        <div class="form-group row mb-1">

            <div class="col-sm-8">
                <input type="text" style="text-align:center; border:groove" placeholder="Enter Title" class="form-control" @bind="@searchTxt">
            </div>

            <div class="col-sm-2">
                <button class="btn btn-info btn-lg btn-block" @onclick="Search"> Search </button>
            </div>

            <div class="col-sm-2">
                <button class="btn btn-danger btn-lg btn-block" @onclick="GetAll"> Cancel </button>
            </div>
        </div>

        <br />

        <div class="form-group row mb-1">

            @foreach (var oElement in oResponse.Data)
            {
                <div class="col col-md-6">

                    <div class="card img-fluid" alt="Responsive image">

                        <div class="card-header">
                            <div class="form-group row mb-1">
                                @oElement.Document
                            </div>
                        </div>

                        <div class="card-body">

                            <div class="form-group row mb-1">

                                <div class="col-sm-6">
                                    <img class="card-img-top img-fluid" src="/Images/Participants/@oElement.Picture" alt="Card image cap Responsive image">
                                </div>

                                <div class="col-sm-6">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">@oElement.Fullname</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="form-group row mb-1">
                                <div class="col-sm-12">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" style="text-align:center">@oElement.Email</li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div class="card-footer text-muted">

                            <div class="form-group row mb-1">
                                <div class="col-sm-4">
                                    <a href="/participant/editar/@oElement.Document" class="btn btn-warning btn-lg btn-block"> Edit </a> <br />
                                </div>

                                <div class="col-sm-4">
                                    <a href="/participant/eliminar/@oElement.Document" class="btn btn-danger btn-lg btn-block"> Delete </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <br />

                </div>
            }

        </div>
    }

</div>

@code {

    String searchTxt = "";

    public string Url = "/api/Participant";

    public Response<List<Participant>> oResponse = new Response<List<Participant>>();

    protected override async Task OnInitializedAsync() =>
        oResponse = await Http.GetFromJsonAsync<Response<List<Participant>>>(Url);

    private async Task GetAll()
    {
        oResponse = await Http.GetFromJsonAsync<Response<List<Participant>>>(Url);

        searchTxt = "";
    }

    private async Task Search()
    {
        searchTxt = searchTxt.Trim();

        if (!searchTxt.Equals("")) oResponse = await Http.GetFromJsonAsync<Response<List<Participant>>>(Url + "/search/" + searchTxt);
    }
}