
@page "/publication/eliminar/{Title}/{CreateDate}"

@using FrontendPaulo.Data
@using System.Net.Http
@using System.Net.Http.Json

@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="container-fluid">

    <h3>Delete Confirmation</h3>

    <div class="form-group row mb-1">
        <div class="alert alert-danger" role="alert">
            Publication => ' @Title '
        </div>
    </div>

    <div>
        <button class="btn btn-danger" @onclick="Delete">Delete</button>

        <button class="btn btn-secondary" @onclick="Cancelar">Cancel</button>
    </div>

</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string CreateDate { get; set; }

    public Response<object> oResponse = new Response<object>();

    public string Url = "/api/Publication";

    private void Cancelar()
    {
        NavigationManager.NavigateTo("/publication/listar");
    }

    private async Task Delete()
    {
        var response = await Http.DeleteAsync(Url + "/" + CreateDate);

        oResponse = response.Content.ReadFromJsonAsync<Response<object>>().Result;

        NavigationManager.NavigateTo("/publication/listar");
    }
}