
@page "/publication/pdf"


<a href="https://drive.google.com/file/d/1MtDuWQwpCzfRGpdS7KBamkdVB289UZDa/view?usp=sharing">CLICK</a>

<img src="/Images/Publications/pdf.png" width="200" height="300">

    @code {

    }
